In [2]:
import pandas as pd
stars_sys = pd.Series([4.242, 5.9630, 6.588, 7.8, 7.7825, 8.905],
                      index=['Альфа Центавра', 'Звезда Барнарда', 'Луман 16',
                            'WISE 0855-074', 'Вольф 359', 'Лалан 2185'])
stars_sys.name = 'Расстояния [световых лет]'
stars_sys.index.name = 'Звезды, звезные системы, субзвезды'
stars_sys

Звезды, звезные системы, субзвезды
Альфа Центавра     4.2420
Звезда Барнарда    5.9630
Луман 16           6.5880
WISE 0855-074      7.8000
Вольф 359          7.7825
Лалан 2185         8.9050
Name: Расстояния [световых лет], dtype: float64

In [3]:
# Pandas DataFrame
df = pd.DataFrame({
    'country': ['Kazahstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 2076000, 603628]
})
df

     country  population    square
0  Kazahstan       17.04   2724902
1     Russia      143.50  17125191
2    Belarus        9.50   2076000
3    Ukraine       45.50    603628

In [4]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
df.index = ['KZ', 'RU', 'BY', 'UA']
df

      country  population    square
KZ  Kazahstan       17.04   2724902
RU     Russia      143.50  17125191
BY    Belarus        9.50   2076000
UA    Ukraine       45.50    603628

### Доступ к строкам
Доступ к строкам по индексатору

.loc - для доступа по строковой метке<br>
.iloc - для доступа по числовому значению<br>

In [9]:
df.loc['RU']

country         Russia
population       143.5
square        17125191
Name: RU, dtype: object

In [10]:
df.loc['RU', 'population'] # Доступ по двум индексам

143.5

In [11]:
df.loc[['RU', 'KZ'], ['population', 'square']]

    population    square
RU      143.50  17125191
KZ       17.04   2724902

In [12]:
# Получение последовательности
df['country']

KZ    Kazahstan
RU       Russia
BY      Belarus
UA      Ukraine
Name: country, dtype: object

In [13]:
# Получение датафрейма
df[['country']]

      country
KZ  Kazahstan
RU     Russia
BY    Belarus
UA    Ukraine

In [14]:
# Фильтрация
df[df.population > 10]

      country  population    square
KZ  Kazahstan       17.04   2724902
RU     Russia      143.50  17125191
UA    Ukraine       45.50    603628

In [15]:
filters = (df.population < 10)
df[filters]

    country  population   square
BY  Belarus         9.5  2076000

In [19]:
df['density'] = df['population'] / df['square']
df

      country  population    square   density
KZ  Kazahstan       17.04   2724902  0.000006
RU     Russia      143.50  17125191  0.000008
BY    Belarus        9.50   2076000  0.000005
UA    Ukraine       45.50    603628  0.000075

In [21]:
# Удаление столбца
df.drop(['density'], axis='columns', inplace=True)
df

      country  population    square
KZ  Kazahstan       17.04   2724902
RU     Russia      143.50  17125191
BY    Belarus        9.50   2076000
UA    Ukraine       45.50    603628

In [22]:
# Получить именования столбцов
df.columns

Index(['country', 'population', 'square'], dtype='object')

In [23]:
# Переименование столбцов
df = df.rename(columns={'country': 'country_name'})
df

   country_name  population    square
KZ    Kazahstan       17.04   2724902
RU       Russia      143.50  17125191
BY      Belarus        9.50   2076000
UA      Ukraine       45.50    603628

In [24]:
# Получить первые три записи с наибольшим населением
df.nlargest(3, 'population')

   country_name  population    square
RU       Russia      143.50  17125191
UA      Ukraine       45.50    603628
KZ    Kazahstan       17.04   2724902