In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("D:\\SourceCode\\jupyter-notebook\\bmstu\\ebw_data.csv")
data.head()

   IW   IF   VW  FP  Depth  Width
0  47  139  4.5  80   1.60   2.54
1  47  139  4.5  80   1.62   2.50
2  47  139  4.5  80   1.68   2.60
3  47  139  4.5  80   1.58   2.52
4  45  140  4.5  80   1.76   2.48