## Тестовое задание для прохождения промежуточной аттестации
<i>Дано: Набор данных dataset.csv с информацией о пассажирах корабля.</i><br>

Перед выполнением задания необходимо:<br>
1. Считать данные из файла dataset.csv
2. Из исходного набора данных оставить колонки: Survived, Sex, Age, SibSp, Parch, Fare
3. Удалить все записи, где есть хотя бы один пропуск
4. Закодировать колонку Sex с помощью LabelEncoder

<br>После выполнения этих шагов<br>
1. Провести нормализацию всех колонок датасета с помощью MinMaxScaler
2. Провести стандартизацию всех колонок датасета с помощью StandardScaller
<br>Найти: Сумму элементов нормализованного датасета
<br>
<br><b>Выполнил:</b> <i>Альчаков В.В. гр. AD11872/3<i>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
# Отключить Warning уведомление для pandas
pd.options.mode.chained_assignment = None

### 1. Считать данные из файла dataset.csv

In [3]:
data = pd.read_csv("D:\\SourceCode\\jupyter-notebook\\bmstu\\dataset.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 2. Из исходного набора данных оставить колонки: Survived, Sex, Age, SibSp, Parch, Fare

In [4]:
df = data.drop(["PassengerId", "Pclass", "Name", "Ticket", "Cabin", "Embarked"], axis = 1)
df.head()
print(f"Кол-во записей: {df.shape[0]}")

Кол-во записей: 891

### 3. Удалить все записи, где есть хотя бы один пропуск

In [5]:
print("Кол-во пустых данных по колонкам:")
df.isnull().sum()

Кол-во пустых данных по колонкам:

Survived      0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [6]:
# Удаляем NA данные
df_nona = df.dropna()

In [7]:
# Проверка (остались ли пустые данные)
df_nona.isnull().sum()

Survived    0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [8]:
print(f"Кол-во записей: {df_nona.shape[0]}")

Кол-во записей: 714

### 4. Закодировать колонку Sex с помощью LabelEncoder

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
# Уникальные значения для столбца Sex
print(df_nona["Sex"].unique())

['male' 'female']

In [11]:
le = LabelEncoder()
le.fit(["male", "female"])

LabelEncoder()

In [12]:
df_nona.loc[:, "Sex"] = le.transform(df_nona["Sex"])

In [13]:
df_nona.head()

   Survived  Sex   Age  SibSp  Parch     Fare
0         0    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         1    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         0    1  35.0      0      0   8.0500

### Провести нормализацию всех колонок датасета с помощью MinMaxScaler

In [14]:
# Созадаем объект Scaler
minmax_scaler = MinMaxScaler()
df_minmax = minmax_scaler.fit_transform(df_nona)
df_minmax

array([[0.        , 1.        , 0.27117366, 0.2       , 0.        ,
        0.01415106],
       [1.        , 0.        , 0.4722292 , 0.2       , 0.        ,
        0.13913574],
       [1.        , 0.        , 0.32143755, 0.        , 0.        ,
        0.01546857],
       ...,
       [1.        , 0.        , 0.23347575, 0.        , 0.        ,
        0.0585561 ],
       [1.        , 1.        , 0.32143755, 0.        , 0.        ,
        0.0585561 ],
       [0.        , 1.        , 0.39683338, 0.        , 0.        ,
        0.01512699]])

### Провести стандартизацию всех колонок датасета с помощью StandardScaller

In [15]:
# Созадаем объект Scaler
std_scaler = StandardScaler()
df_std = std_scaler.fit_transform(df_minmax)
df_std

array([[-0.82702011,  0.75905134, -0.53037664,  0.52457013, -0.50589515,
        -0.51897787],
       [ 1.20916044, -1.31743394,  0.57183099,  0.52457013, -0.50589515,
         0.69189675],
       [ 1.20916044, -1.31743394, -0.25482473, -0.55170307, -0.50589515,
        -0.50621356],
       ...,
       [ 1.20916044, -1.31743394, -0.73704057, -0.55170307, -0.50589515,
        -0.08877362],
       [ 1.20916044,  0.75905134, -0.25482473, -0.55170307, -0.50589515,
        -0.08877362],
       [-0.82702011,  0.75905134,  0.15850313, -0.55170307, -0.50589515,
        -0.50952283]])

### Найти cумму элементов нормализованного датасета

In [16]:
print(f"Сумма элементов нормализованного датасета {df_minmax.sum()}")
print(f"Сумма элементов нормализованного датасета (округленное значение) {round(df_minmax.sum())}")
print(f"Сумма элементов стандартизированного датасета {df_std.sum()}")
print(f"Сумма элементов стандартизированного датасета (округленное значение) {round(df_std.sum())}")

Сумма элементов нормализованного датасета 1178.580104011869
Сумма элементов нормализованного датасета (округленное значение) 1179
Сумма элементов стандартизированного датасета 1.0125233984581428e-13
Сумма элементов стандартизированного датасета (округленное значение) 0